<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Display Data on Map</title>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

</head>

<body>

<style>

body {
    margin: 0;
    padding: 0;

}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.logo{
    position: absolute;
    bottom: 0px;
    z-index: 20;
    background-color: rgba(63, 63, 63,1);
    box-shadow:10px 10px 20px #000000;
    border-radius: 15px;    
    padding-right: 15px;
    padding-left: 10px;
}
.img{
    height: 63px;
    width: 100%;
    margin: 0;

}
#map1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 72%;
    height: 52%;
    border: 1px solid #ffffff;
    box-shadow:10px 10px 20px #000000;
}

.first_div{
    background: linear-gradient(to top,rgb(98, 137, 189) 0px, rgb(98, 137, 189) 10px,rgb(71, 110, 160) 10px,rgb(71, 110, 160) 20px,rgb(52, 90, 139) 20px,rgb(52, 90, 139) 30px,rgb(39, 74, 119) 30px,rgb(39, 74, 119) 40px,rgb(30, 65, 112) 40px,rgb(30, 65, 112) 50px,rgb(20, 53, 95) 50px,rgb(20, 53, 95) 60px,rgb(14, 45, 87) 60px,rgb(14, 45, 87) 70px,rgb(8, 39, 82) 70px,rgb(8, 39, 82) 80px,rgb(3, 34, 78) 80px,rgb(3, 34, 78) 90px,rgb(0, 28, 68) 90px,rgb(0, 28, 68) 100px);

    border-top: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 4px;
    width: 27px;
    margin-top: 0px;
    margin-left: 13.5px;
    box-shadow:0px 5px 20px #000000;

}   

.dataContainer {
    position: absolute;
    z-index: 1;
    width: 54px;
    margin: 0px;    
}

.second_div{
    text-align: center;
    width: 54px;
    height: 24px;
    background-color: rgb(0, 64, 80);
    color: rgb(255, 255, 255);
    border-top: 1.2px solid rgb(255, 255, 255);
    border-left: 1.2px solid rgb(255, 255, 255);
    border-right: 1.2px solid rgb(255, 255, 255);
    border-bottom: 1.2px solid rgb(255, 255, 255);
    border-radius: 3PX;
}

.second_div p{
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin: 0;
}

.map_spot{
    background-color: rgb(255, 255, 255);
    box-shadow:0px 0px 15px #070001;
    width: 7.5px;
    height:7.5px;
    border-radius: 50%;
    position: absolute;
}

.square {

    width: 50px;
    position: relative;

}

.diagonal {
    position: absolute;
    width: 100%;
    height: 2px;     
    background-color: rgb(255, 255, 255);
    top: calc(50% - 0px);
}
.description{
    position: absolute;
    z-index: 2;
    right: 90px;
    top: 12px;
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow:10px 10px 10px #070001;
    border: 4px solid rgb(0, 64, 80);
    text-align: center;
}
.description p{
    font-size: 15px;
    margin: 10px;
}
.div_for_map1{
    position: absolute;
    z-index: 4;
    height: 23px;
    width: 93px;
    background-color: rgb(4, 56, 4);
    border-radius: 9px;
    
    bottom: 10px;
    left: 8px;
}
</style>

<svg id="lines" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;"></svg>



        <div id="map">


            <div class="logo">
                <img src="../images/iliauni_logo.png" class="img"  alt="Image">
            </div>
            <div href="https://www.wunderground.com/dashboard/pws/IUNDILAA2" class="description">
                <p>PR: წვიმის ინტენსივობა მმ/სთ</p>
                <p>PA: წვიმის აკუმულაცია მმ </p>

            </div>
        </div>



        <div id="map1">
            <div class="div_for_map1"></div>

        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>
